
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
      Sidenav opened!
    </mat-sidenav>
    <div class="example-sidenav-content">
      

  <mat-toolbar color="primary" >
    <span >angular workflow app</span>
  </mat-toolbar>
      <button type="button" mat-button (click)="sidenav.toggle()">
        Open sidenav
      </button>
      <div class="diagram-parent">
        <app-diagram
          [url]="diagramUrl"
          (importDone)="handleImported($event)"
        ></app-diagram>
      
        <div class="import-error" *ngIf="importError">
          <strong>Failed to render diagram: </strong>
          {{ importError.message }}
        </div>
      </div>
    </div>
  </mat-sidenav-container>



   



